.list-item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
    padding: 0.4rem;
    margin-top: 5px
}

.data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

.btn-edit {
    padding: 0.2rem;
}

.btn-delete {
    padding: 0.2rem;
    margin-left: 20px;
}