main {
    width: 100%;
    height: 90vh;
    display: flex;
}

.list-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list-header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0;
}

.list-header .btn-register {
    padding: 0.4rem;
    font-size: 15px;
    cursor: pointer;
}

.list-header .attributtes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}